/*.db
/x64
/.vs/json/v15/.suo
/.vs/json/v15/Browse.VC.db
/.vs/json/v15/Browse.VC.opendb
/.vs/json/v15/ipch/AutoPCH/57479140299891a6/MAIN.ipch
/.vs/json/v15/ipch/AutoPCH/27d0af1a95b4e31e/CJSON.ipch
/.vs/json/v15/ipch/AutoPCH/35f8dc651668eb95/JSON.ipch
